.ctx-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ctx-menu > li:hover {
    cursor: pointer;
}

.ctx-menu-container {
  position: fixed;
  padding: 0;
  box-shadow: 0 0 3px #444;
  background-color: white;
  box-shadow: 5px black;
  z-index: 99999;
}
